<div align="center">

# awesome-stars-eryajf

[![Awesome](https://awesome.re/badge.svg)](https://awesome.re)
[![Auth](https://img.shields.io/badge/Auth-BlueSkyClouds-ff69b4?logo=github)](https://github.com/BlueSkyClouds)
[![GitHub Pull Requests](https://img.shields.io/github/stars/BlueSkyClouds/My-Star-list?logo=Undertale)](https://github.com/BlueSkyClouds/My-Star-list/stargazers)
[![HitCount](https://views.whatilearened.today/views/github/BlueSkyClouds/My-Star-list.svg)](https://github.com/BlueSkyClouds/My-Star-list)
[![GitHub license](https://img.shields.io/github/license/BlueSkyClouds/My-Star-list)](https://github.com/BlueSkyClouds/My-Star-list/blob/master/LICENSE)
[![](https://img.shields.io/badge/Awesome-MyStarList-c780fa?logo=Awesome-Lists)](https://github.com/BlueSkyClouds/My-Star-list#readme)

 ⭐ 我的star列表，每天凌晨自动更新 ⭐

<img src="https://camo.githubusercontent.com/82291b0fe831bfc6781e07fc5090cbd0a8b912bb8b8d4fec0696c881834f81ac/68747470733a2f2f70726f626f742e6d656469612f394575424971676170492e676966" width="800"  height="3">
</div><br>

## Table of Contents

<% for(let [language, repositories] of stars) { %>
## <%= language %>

  <% for(let repo of repositories) { %>
- [<%= repo.full_name %>](<%= repo.html_url %>) - <%= repo.description %> 
  <% } %>  

<% } %>

## Thanks

- generated with [simonecorsi/mawesome](https://github.com/simonecorsi/mawesome)
